body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

footer {
    margin-top: 20px;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
}

#modeToggle {
    text-align: center;
    margin-bottom: 20px;
}

#darkModeBtn, #lightModeBtn {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#darkModeBtn:hover, #lightModeBtn:hover {
    background-color: #555;
}
